snippet fun "function (fun)"
function ${1:function_name}(${2:argument}){
    ${VISUAL}$0
}
endsnippet

snippet af "Anonymous function"
function($1){
    $2
}
endsnippet

snippet rf "Return anonymous function"
return(function($1){
    $2
});
endsnippet

snippet pbdc "Plumb defer"
_.plumb(defer($1), callback)); }
endsnippet
